/*Use margin and padding to space your elements in a visually pleasing way.
Use at least one of each of the following types of selectors: element, class, id.
Don't break these rules:
At all costs, avoid adding HTML elements in order to achieve a specific visual effect.
Use document-level and inline styles sparingly, and only when absolutely necessary.
"Use the float or table command to create the tiled layout"

In order to see any visible change, make sure to link the stylesheet to your main document. */

body{
margin: 0;
}

header{
text-align: center;
}

h1 {
font-family: "Trebuchet MS", sans-serif;
padding: 10px 0;
margin: 0;
margin-bottom: 10px;
font-weight: normal;
background-color: #262880;
color: white;
}

figcaption {
font-family: "Trebuchet MS", sans-serif;
text-align: center;
}

figure {
margin-right: 5px;
width: 28%;
padding: 0;
font-size: 1em;
text-align: center;
position: relative;
float: left;
display: table;
}

img {
width: 100%;
margin: auto;
padding: 5px;
}

video{
width: 80%;
margin-left: 50px;
}

footer {
  font-family: "Trebuchet MS", sans-serif;
  width: 100%;
  text-align: center;
  clear: both;
  color: grey;
  font-size: 70%;
  }
  
#tailuge {
width: 31.6%;
}

#wuyishan {
width: 28%;
}

#bengmealea{
width: 28.5%;
margin-left: 70px;
}